* {
	text-align: center;
	font-family: 'Ruslan Display', cursive;
	margin: 0 auto;
}

body {
	background: rgb(85,196,180);
}

td {
	border: 1px solid black;
	height: 150px;
	width: 150px;
	text-align: center;
	font-size: 100px;
	font-family: 'Ruslan Display', cursive;
	background: white;
}
.available:hover {
	background: rgb(221,209,193);
}

button {
	font-size: 25px;
}

h1 {
	font-size: 60px;
}
h2 {
	font-size: 45px;
}
h3 {
	font-size: 35px;
}
h4 {
	font-size: 25px;
}